.container {
  margin-top: 10px;
}

.purchase-card {
  width: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  padding: 10px;
}

.purchase-card > .show-grid {
  padding-bottom: 20px;
}

.item-details-button {
  margin-bottom: 13px;
}

.price-strike {
  text-decoration-line: line-through;
  color:grey
}
